<h2>Job Contacts</h2>

<script type="text/x-handlebars">
	{{view App.ListContactsView}}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		App.contactsController.loadAll(<%= @contacts.to_json.html_safe %>);
	});
</script>



