<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>Phone Number</th>
		</tr>
	</thead>
	<tbody>
		{{#each contacts}}
			{{view App.ShowContactView contactBinding="this"}}
		{{/each}}		
	</tbody>
</table>

<div class="modal hide fade in" id="add_contact_modal">
	<div class="modal-header">
	   <button class="close" data-dismiss="modal">×</button>
	   <h3>{{#if id}} Update {{else}} Create {{/if}} Contact</h3>
	</div>
	<div class="modal-body">
		{{view App.NewContactView}}	
	</div>
</div>	

<div>
	<button href="#add_contact_modal" class="btn btn-primary" data-toggle="modal">New Contact</button>
</div>


<script type="text/javascript">
	$("#add_contact_modal").modal({
		
	});
</script>


